
<footer>
    <p>Todos los derechos reservados - 2022</p>
    <div class="redes">
        <a href="https://www.linkedin.com/in/cesar-andres-pereira-bernal-8ab8a81b2/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/safases21"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
 
</body>
</html>