<%- include('template/narbar'); %>

<section id="contacto">
  <h3 class="titulo-seccion">Contactame Ahora</h3>
  <div class="contenedor-form">
    <form action="/formulario" method="post">
      <div class="fila mitad">
        <input
          type="text"
          placeholder="Nombre Completo"
          class="input-mitad"
          name="name"
          autofocus
        />
        <input
          type="tel"
          placeholder="Numero de contacto"
          class="input-mitad"
          name="Phone"
          pattern="[0-9]{9}"
        />
      </div>
      <div class="fila">
        <input
          type="email"
          placeholder="Email de contacto"
          name="email"
          class="input-full"
        />
      </div>
      <div class="fila">
        <textarea
          name="message"
          class="input-full"
          placeholder="Deja tu mensaje..."
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <input
        type="submit"
        class="btn-enviar"
        value="Enviar Mensaje"
      />
    </form>
  </div>
</section>

<%- include('template/footer'); %>
