<%- include('template/narbar'); %>  

<div class="showcase">
    <img class="img-accounts" src="/public/img/perfil.jpg" alt="foto perfil">
    <p class="">Mi nombre es </p>
    <h1 class="">Cesar Andres Pereira Bernal</h1>
    <p class="">development</p>
</div>
<div>
    <div>
        <h3>Aserca de mi</h3>
    </div>
    <div>
        <p>development amante a los videojuegos y al manga japones con conocimientos en backend y fronten sin título pero con muchas ganas y conocimiento, todos mis estudios son de manera informal ya sea de YouTube la universidad más grande del mundo y de plataformas como undemy, codigofacilito, plazit y un maravilloso libro llamada el gran libro de JavaScript de lo cual aprendí una valiosa frase "unca parar de aprender" de Fredy Vega CEO Y cofounder de plazit. </p>
    </div>
</div>

<%- include('template/footer'); %>