<%- include('template/narbar'); %>  
<br><br><br><br>
<br><br><br><br><br>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<h1>aqui pondria algun proyecto</h1>
<br><br>
<h2>sin tan solo tubiera uno</h2>
<br><br><br><br><br><br><br><br><br>


<%- include('template/footer'); %>